
  
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  .text-center {
    text-align: center;
    color: #000000;
  }

  .footer {
    background-color: transparent; /* Set background-color to transparent */
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 
    color: #000; /* Set text color to black */
  }