.navbar {
  background-color: #f8f8f8;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links {
  display: flex;
  align-items: center;
  margin-left: 10px; /* Add margin to create a small gap */
}

.navbar-link {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  margin-right: 10px;
  margin-top: -3px; /* Adjust the margin-top to raise the tabs */
}

.navbar-link:hover {
  text-decoration: underline;
}

.profile-image {
  width: 40px; /* Adjust the width to reduce the profile image size */
  height: 40px; /* Adjust the height to reduce the profile image size */
  margin-right: 5px; /* Add margin to create a small gap */
}

.navbar-logout {
  margin-left: auto;
}