
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-content {
  max-width: 500px; /* Increase the max-width value */
  padding: 50px; /* Increase the padding value */
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-title {
  font-size: 28px; /* Increase the font-size value */
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 25px; /* Increase the margin-bottom value */
}

.form-group label {
  display: block;
  font-size: 18px; /* Increase the font-size value */
  margin-bottom: 10px; /* Increase the margin-bottom value */
}

input[type='email'],
input[type='password'] {
  width: 100%;
  padding: 12px; /* Increase the padding value */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-primary {
  background-color: #dc1118;
  color: #fff;
  padding: 12px 24px; /* Increase the padding values */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.btn-primary:hover {
  background-color: #dc1118;
}

.login-info {
  font-size: 16px; /* Increase the font-size value */
  text-align: center;
}

.login-info a {
  color: #dc1118;
  text-decoration: none;
}